body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Name {
  position: fixed;
  background-color: rgb(176, 132, 218);
  top: 0;
  left: 0;
  z-index: 101;
  width: 100vw;
  height: 5%;
}

.Name h1 {
  margin: 5px;
}